Orchard-1.9.2/src/Orchard.Web/Modules/electrocalculator/Service References/Servicegauss/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/servicetoorchard" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/servicetoorchard" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfComplexdata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Complexdata" nillable="true" type="tns:Complexdata" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComplexdata" nillable="true" type="tns:ArrayOfComplexdata" />
  <xs:complexType name="Complexdata">
    <xs:sequence>
      <xs:element minOccurs="0" name="Imaginary" type="xs:double" />
      <xs:element minOccurs="0" name="Real" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Complexdata" nillable="true" type="tns:Complexdata" />
</xs:schema>